/Users/hishamfadhel/Library/CloudStorage/GoogleDrive-hfadhel140802@gmail.com/My Drive/University Studies/YEAR 2/CCC/Coursework/Mingle/.env
/Users/hishamfadhel/Library/CloudStorage/GoogleDrive-hfadhel140802@gmail.com/My Drive/University Studies/YEAR 2/CCC/Coursework/Mingle/node_modules

